@mixin fadeOut($duration: .3s) {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear #{$duration}, opacity #{$duration} linear 0s;
}

@mixin fadeIn($duration: .3s, $targetOpacity: 1) {
  visibility: visible;
  opacity: $targetOpacity;
  transition: visibility 0s linear 0s, opacity #{$duration} linear 0s;
}
