// stylelint-disable plugin/selector-bem-pattern
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button, input {
  outline: none;
}
