.button {

  display: inline-block;
  margin: 0;
  padding: 1em 3em;

  border: 1px solid #493be1;
  background-color: #493be1;
  color: #fff;

  font-size: 1em;

  &:hover {
    background-color: transparent;
    color: #493be1;
  }

  text-align: center;
  text-decoration: none;

  transition: background-color .15s ease-in-out, color .15s ease-in-out;

  cursor: pointer;

  // Variants
  &--alt {

    background-color: transparent;
    color: #493be1;

    &:hover {
      background-color: #493be1;
      color: #fff;
    }

  }

  &--compact {
    padding-top: .3333em;
    padding-bottom: .3333em;
  }

}
