.filterbar {

  display: flex;
  @include mq($until: tablet) { flex-wrap: wrap; }
  align-items: center;
  margin-bottom: 1em;

  &__filter {
    @include mq(tablet) {
      padding-right: 1em;
    }
  }

  &__clear {

    order: 3;

    @include mq($until: tablet) {
      margin-top: .5em;
    }

  }

  &__filter, &__clear {

    flex: 0 1 auto;

    @include mq($until: tablet) {
      flex: 1 0 100%;
    }

  }

  &::after { // Fills the space between filters and clear filters button
    content: '';
    display: block;
    flex: 1 0 auto;
    order: 2;

    @include mq($until: tablet) {
      display: none;
    }

  }

  &__button {
    @include mq($until: tablet) {
      display: block;
      width: 100%;
    }
  }

  &__state {
    display: none;
  }

}
