.filterpicker {

  $root: &;

  position: relative;

  &__state {
    display: none;
  }

  &__label {
    position: relative;
    min-width: 10em;
    border-bottom: 1px solid #dcdcdc;
    transition: border-color .15s ease-in-out;
  }

  &__label, &__opener, &__closer {
    cursor: pointer;
  }

  &__opener {

    display: block;
    padding: .5em 1.5em .5em 0;

    &::after {
      content: '>';
      position: absolute;
      right: .25em;
      top: 50%;
      font-size: .875em;
      color: #969696;
      transform: translateY(-50%) scaleY(.5) rotate(90deg);
      transition: color .15s ease-in-out;
    }

  }

  &__label:hover {

    border-color: #000;

    #{$root}__opener::after {
      color: #000;
    }

  }

  &__closer {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__options {

    position: absolute;
    z-index: 1;
    margin-top: -1px;
    min-width: 100%;
    max-height: 300px;
    overflow: auto;
    border: 1px solid #dcdcdc;
    background-color: #fff;

    @include fadeOut(.15s);

  }

  &__option {

    display: block;
    width: 100%;
    padding: .5em 1em;
    border: 0;
    background-color: transparent;
    white-space: nowrap;
    font-size: 1em;
    text-align: left;

    transition: background-color .1s ease-in-out;
    cursor: pointer;

    &--is-selected {
      color: #493be1;
    }

    &:hover {
      background-color: #eee;
    }

  }

  // Opened state
  &__state:checked ~ {

    #{$root}__options {
      @include fadeIn(.15s);
    }

    #{$root}__label #{$root}__closer {
      display: block;
    }

    #{$root}__label #{$root}__opener::after {
      color: #000;
    }

  }

}
