.list {

  $root: &;

  position: relative;
  min-height: 5em;

  &__list {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-left: -1 * $gutter / 2;
    margin-right: -1 * $gutter / 2;

  }

  &__item {

    padding: $gutter / 2;

    @include mq(desktop) {
      flex: 0 1 33.3333%;
      max-width: 33.3333%; // Fix for IE10+
    }

    @include mq(tablet, desktop) {
      flex: 0 1 50%;
      max-width: 50%; // Fix for IE10+
    }

    @include mq($until: tablet) {
      flex: 0 1 100%;
      max-width: 100%; // Fix for IE10+ if somebody wants to see the mobile viewport...
    }

    transition: filter .3s ease-in-out;

  }

  &__footer {
    margin-top: 1em;
    text-align: center;
  }

  &__loadmore-button {
    min-width: 25%;
  }

  &::after {

    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;

    background-color: #fff;
    background-image: url('./img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center calc(100% - 5em);

    @include fadeOut(.15s);

  }

  &--is-loading {

    #{$root}__item {
      filter: blur(.5rem);
    }

    &::after {
      @include fadeIn(.15s, .75);
    }

  }

}
