.main {

  &, &__popup-inner {
    max-width: 1366px;
    padding: 5rem 3.25rem;
    margin-left: auto;
    margin-right: auto;

    @include mq($until: tablet) {
      padding-left: $gutter;
      padding-right: $gutter;
    }

  }

  color: #465252;

  &__h1,
  &__h2 {
    margin: 0 0 1em 0;
    font-size: 2rem;
    font-weight: normal;
  }

  &__popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
  }

}
