.preview {

  &__contents {
    max-width: 600px;
    margin: 2em auto 0;
  }

  &__button-wrapper {
    margin-top: 1em;
  }

  &__back {
    margin-top: 3em;
    margin-bottom: 2em;
  }

  &__back-link {
    color: #493be1;
    text-decoration: underline;
    &:hover { text-decoration: none; }
  }

}

