<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.title %>></title>
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>

<div id="app"></div>

</body>
</html>
